
.link-no-style {
	text-decoration: none !important;
	background-color: transparent !important;
}

/*
Estilos para la card de equipos de medicion 

.dash-eq-card-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-around;
}
.link-no-style {
	text-decoration: none !important;
	background-color: transparent !important;
}
.dash-eq-card {
	width: 20rem;
	border-radius: 0px;
	margin-top: 10px;
	transition: all 0.5s;
}
.dash-eq-card:hover {
	border-radius: 40px;
	width: 27rem;
	background-color: antiquewhite;
}

.title-eq-card {
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(17, 17, 17);
}
.text-qe-card {
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(0, 0, 0);
}

.img-qe-card {
	display: block;
	height: 12rem;
	margin: 0 auto;
	transition: all 0.7s;
}

.img-qe-card:hover {
	display: block;
	height: 15rem;
	
}
*/
.tools_container {
	width: 70%;
	-webkit-margin-start: 4rem;
	-webkit-margin-end: 4rem;
	margin-bottom: 1rem;
}
.tools_link {
	background: bisque;
	text-decoration: none !important;
	background-color: transparent !important;
	border-radius: inherit;
}
.card_title{
	font-style: italic;
	font-size: 14px;
	color: black;
	font-family: 'Times New Roman', Times, serif;
}
.card_text{
	font-size: 14px;
	text-align: start;
}
