.dash-card-container {
  display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-around;
}

.img_container {
  background-color: rgba(0, 255, 255, 0);

}

.img_item {
  width: 13rem;
  height: 12rem;
  clip-path: circle(50% at center);
  transition-property: clip-path;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: ease-in;
}

.img_container:hover .img_item {
  clip-path: circle(40% at center);
}

p{
  text-align: center;
  font-style: italic;
	font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
	color: rgb(0, 0, 0);
}
