/*
Estilos para las cards de los componentes electronicos
*/

.dash-card-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
}

.dash-card {
	width: 15rem;
	transition: all 0.5s;
}

.img-card {
	height: 15rem;
	transition: all 0.5s;
}
.img-card:hover {
	height: 17rem;
}
.dash-card .card-title {
	font-size: 0.9em;
}
.dash-card .card-text {
	font-size: 0.7em;
}

.dash-card:hover {
	width: 17rem;
	background-color: antiquewhite;
	border-radius: 20px;
}

.icon-info {
	display: block;
	height: 35px;
	width: 70%;
	margin: 0 auto;
	color: black;
	transition: color 0.5s ease;
}
.icon-info:hover {
	color: rgb(219, 147, 147);
}

/*
Estilos para la card de equipos de medicion
*/

.dash-eq-card-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	height: 300px;
}
.dash-eq-card {
	width: 45rem;
	border-radius: 0px;
	margin-top: 100px;
}
.dash-eq-card:hover{
	border-radius: 40px;
	background-color: antiquewhite;
}

.img-qe-card {
	display: block;
	height: 25rem;
	margin: 0 auto;
	transition: all 0.7s;
}

.img-qe-card:hover{
	display: block;
	height: 27rem;	
}

