.img-card {
	display: block;
	height: 15rem;
	width: 15rem;
	margin: 0 auto;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
}

.card {
	width: 15rem;
	border-radius: 40px;
	margin: 0px;
}

.icon-info{
	display: block;
	height: 50px;
	width: 70%;
	margin: 0 auto;
	color: black;
}