.img-card {
	display: block;
	height: 15rem;
	width: 15rem;
	margin: 0 auto;
}

.dash-card-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
}

.dash-card {
	width: 15rem;
	border-radius: 40px;

	margin-bottom: 10;
	transition: all 0.5s;
}

.dash-card:hover {
	width: 16rem;
	background-color: antiquewhite;
	border-radius: 20px;
}

.icon-info {
	display: block;
	height: 35px;
	width: 70%;
	margin: 0 auto;
	color: black;
	transition: color 0.5s ease;
}
.icon-info:hover {
	color: rgb(219, 147, 147);
}

.dash-eq-card-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	height: 300px;
}
.dash-eq-card {
	width: 45rem;
	border-radius: 0px;
	margin-top: 100px;
}

.img-qe-card {
	display: block;
	height: 25rem;
	
	margin: 0 auto;
}
