.card-dets{
    background-color: bisque;
}

.card-dets:hover{
    background-color:rgba(219, 147, 147, 0.445);
}

.img-detail {
	
	height: 350px;
	width: 75%;
	-webkit-margin-start: 15%;
    -webkit-margin-end : 5%;

    border-radius: 15%;
}

.card-container{
    display: flex;
}

