.btn-flotante {
	position: absolute;
    color: black;
	top: 1px;
	right: 10px;
    height: 60px;
    width: 45px;
	transition: all 0.5s;
	z-index: 99;
}
.btn-flotante:hover {
	color: rgb(219, 147, 147);
}

@media screen and (max-width: 768px) {
    .btn-flotante {
       font-size: 14px;
       padding: 12px 20px;
       bottom: 30px;
       right: 30px;
   }
} 