.carousel-contaier {
	background-color: rgba(219, 147, 147, 0.122);
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.img-carousel {
	display: block;
	height: 640px;
	width: 62%;
	margin: 0 auto;
}

.icon {
	display: block;
	height: 50px;
	width: 70%;
	margin: 0 auto;
	margin-top: 1px;
	color: black;
	transition: all 0.5s;
}
.icon:hover {
	color: rgb(219, 147, 147);
	height: 70px;
	width: 100%;
}
.text-home {
	text-align: center;
	height: 50px;
	width: 70%;
	margin: 0 auto;
	margin-top: 1px;
	margin-bottom: 0px;
	color: black;
	text-decoration: underline black;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	transition: all 0.5s;
}
.text-home:hover {
	color: rgb(219, 147, 147);
	text-decoration: underline rgb(219, 147, 147);
}

.card-home-container {
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
}
.home-card {
	width: 27rem;
	margin-right: 6rem;
	margin-bottom: 5rem;
	transition: all 0.5s;
}
.home-card h4 {
	padding-left: 50px;
	text-indent: -37px;
	text-align: justify;
	line-height: 2;
	font-size: 15px;
}
.card-home-container .card-home-img {
	width: 100%;
}

/* estilos para pantallas con ancho máximo de 768px 


		
*/

@media screen and (max-width: 768px) {
	.img-carousel {
		display: block;
		height: 200px;
		width: 50%;
		margin: 0 auto;
	}
}
