<<<<<<< HEAD
.embed-pdf {
    opacity: 110;
    transition: opacity 1s ease-in-out;
}
  
.embed-pdf.show {
    opacity: 1;
}

=======
>>>>>>> e62cd727f5129cf9e3436c82a77908fd934d0d45
iframe{
    display: block;
    width: 100%;
    height: 70vb;
}

