.logo {
	width: 135px;
	height: 68px;
	margin-bottom: 8px;
	margin-left: 20px;
}
.icon-container {
	display: flex;
	justify-content: space-between;
	margin-right: 50%;
}
.hd-icon {
	display: flex;
	height: 30px;
	width: 20%;
	margin-top: 1px;
	margin-bottom: 1px;
	-webkit-margin-start: 20%;
	color: #f6f6f6;
	transition: all 0.7s;
}
.hd-icon:hover {
	color: rgb(248, 181, 181);
}
.h5-hd {
	justify-content: space-between;
	margin-bottom: 0%;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	position: absolute;
}
.logo-2 {
	width: 324px;
	height: 112px;
	margin-right: 20px;
}
.logo:hover {
	clip-path: circle(100%);
}
header {
	height: 30%;
	background-color: whitesmoke;
}
.nav-bar {
	height: 60px;
	padding: '0px 15px';
   /* ff 3.6+ */
   background:-moz-linear-gradient(90deg, #FF864C 0%, #FFB590 50%, #E97D30FC 100%); 

   /* safari 5.1+,chrome 10+ */
   background:-webkit-linear-gradient(90deg, #FF864C 0%, #FFB590 50%, #E97D30FC 100%);

   /* opera 11.10+ */
   background:-o-linear-gradient(90deg, #FF864C 0%, #FFB590 50%, #E97D30FC 100%);

   /* ie 6-9 */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E97D30', endColorstr='#FF864C', GradientType=0 );

   /* ie 10+ */
   background:-ms-linear-gradient(90deg, #FF864C 0%, #FFB590 50%, #E97D30FC 100%);

   /* global 94%+ browsers support */
   background:linear-gradient(90deg, #FF864C 0%, #FFB590 50%, #E97D30FC 100%);
}
body {
	position: relative;
	padding-bottom: 50em;
}

.footer {
	flex: 1;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 10px;
	height: 220px;
	background: #fdc830;
	background: -webkit-linear-gradient(to right, #f37335, #c27114);
	background: linear-gradient(to right, #f37335, #e97d30e7);
}

@media screen and (max-width: 768px) {
	.footer {
		flex: 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-top: 10px;
		height: 220px;
		background: #fdc830;
		background: -webkit-linear-gradient(to right, #f37335, #c27114);
		background: linear-gradient(to right, #f37335, #e97d30e7);
	}
	.logo-2 {
		width: 224px;
		height: 50px;
		margin-right: 30px;
	}
}
